# MACOS Specific
*dSYM/
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Clangd file
.clangd

# log
*.log
log/

# executables
*.exe
*.out

# vscode
.vscode/

###### working file ##############
# ignore all file in work folder
work/*

# except script.py and generator.py
work/\!script.py
work/\!generator.py
##################################